
@font-face {
  font-family: 'Preeti';
  src: url('/fonts/preeti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-preeti {
  font-family: 'Preeti', monospace;
}

.font-mono {
  font-family: monospace;
}
